h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

* {
    margin: 0;
    padding: 0;
    line-height: 150%;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

*, pre {
  font-family: 'Anonymous Pro Music', 'Anonymous Pro', ui-monospace, SFMono-Regular, monospace;
}

ol, ul, menu {
    list-style: none;
}

code, kbd, samp, pre {
    font-feature-settings: normal;
    font-variation-settings: normal;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font-family: inherit;
    font-feature-settings: inherit;
    font-size: 100%;
    font-variation-settings: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
}

@font-face {
    font-family: 'JBMusic';
    src: url("/assets/fonts/JBMusic-Regular.otf") format('opentype');
}

@font-face {
    font-family: 'Anonymous Pro Music';
    src: url("/assets/fonts/AnonymousPro-Music-Regular.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Anonymous Pro Music';
    src: url("/assets/fonts/AnonymousPro-Music-Bold.otf") format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Anonymous Pro';
    src: url("/assets/fonts/AnonymousPro-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Anonymous Pro';
    src: url("/assets/fonts/AnonymousPro-Italic.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Anonymous Pro';
    src: url("/assets/fonts/AnonymousPro-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Anonymous Pro';
    src: url("/assets/fonts/AnonymousPro-BoldItalic.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}
